.bg-register{
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.bg-register-card{
    padding: 0;
}

.card-content{
    display: flex;
    padding: 0;
    margin: 0;
}

.form{
    padding: 1.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
}

.form-body{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.form-subtitle{
    color: #6b7280;
    text-wrap: balance;
}

.form-group{
    display: grid;
    gap: 0.5rem;
}

.divisor{
    padding: 1.5rem 0;
    width: 100%;
}

.img-wrapper{
    background-color: #e0e0e0; /* bg-muted (cinza claro do Tailwind) */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    width: 50%;
    border-radius: 0 0.7rem 0.7rem 0;
}

.image{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%; /* h-full */
    width: 100%;  /* w-full */
    object-fit: cover; /* object-cover */
    padding: 2rem;
}