@import "tailwindcss";

@theme inline {
  /** Base colors */
  --color-dark-a0: #000000;
  --color-light-a0: #ffffff;

  /** Theme primary colors */
  --color-primary-a0: #7ed957;
  --color-primary-a10: #8fde6b;
  --color-primary-a20: #9ee27e;
  --color-primary-a30: #ade691;
  --color-primary-a40: #bbeba3;
  --color-primary-a50: #c9efb5;

  /** Theme surface colors */
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --color-surface-tonal-a0: #1d231a;
  --color-surface-tonal-a10: #32382f;
  --color-surface-tonal-a20: #484d45;
  --color-surface-tonal-a30: #60645d;
  --color-surface-tonal-a40: #787c76;
  --color-surface-tonal-a50: #929590;
}
